@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    background: white;
  }
}

.item-flex {
  margin-right: 5px;

  @media screen and (min-width: 992px) {
    flex: 1 0 18%;
  }
}

.p-dialog {

  .p-dialog-header {
    border: 0 !important;
    padding: 10px 10px 0 10px !important;
    color: var(--font-1, #001125);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }

  .p-dialog-content {
    padding: 0 10px !important;
  }
}

.title-head {
  color: var(--font-1, #001125);
  font-family: Inter, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.p-datepicker {
  table td>span:not(.p-highlight):focus {
    background: transparent !important;
    color: black !important;
  }
}

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

.p-inputtext-sm,
.p-inputtext-lg {
  &:placeholder-shown {
    background-color: #D9D9D9 !important;
  }
}

.p-dropdown {
  &:not(.selected) {
    background-color: #D9D9D9;
  }
}

textarea {
  &:placeholder-shown {
    background-color: #D9D9D9 !important;
  }
}

.p-datatable {
  .p-paginator-bottom {
    .p-paginator {
      width: 100%;
      padding: 10px !important;
      margin: 0;
      padding: 0;
      height: 50px !important;
      gap: 0 !important;
      display: flex;
      flex-direction: row;
      /* Make the buttons layout horizontally */
      align-items: center;
      /* Vertically center-align the buttons */

      button {
        margin: 0 7.5px !important;
      }


      .p-paginator-pages {
        display: flex;
        flex-direction: row;
        gap: 0 !important;
        display: flex;

        .p-paginator-page {
          color: #6D5BD0;
          text-align: center;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          background-color: white;
        }
      }

      .p-paginator-first {
        margin-left: auto !important;
      }

      .p-link {
        width: 27px;
        height: 27px;
        color: #404B52 !important;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.14px;
        border-radius: 4px;
        border: 1px solid #EEE !important;
        background: #F5F5F5 !important;
        border-radius: 4px;
        border: 1px solid #EEE;
        background: #F5F5F5;
        min-width: unset;

        &.p-highlight {
          color: white !important;
          border: 1px solid var(--svo-dark-color, #006785) !important;
          background: var(--svo-dark-color, #006785) !important;
        }

        svg {
          width: 9px;
          height: 14px;

          path {
            fill: #404B52;
          }
        }
      }

      .p-dropdown {
        height: 27px;
        align-items: center;
        background: transparent;
      }

      .p-paginator-current {
        text-align: left;
        width: 60%;
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        justify-content: flex-start;
        cursor: default;

        background: white;
        height: 21px !important;
        font-size: 14px !important;
        color: #B5B7C0 !important;
      }

      @media screen and (max-width: 767px) {
        height: 100px !important;
        gap: 2px !important;

        .p-paginator-current {
          width: 100%;
        }

        .p-paginator-pages {
          gap: 2px !important;
        }
      }
    }
  }

}

.object-cover {
  object-fit: cover;
}

.p-datatable {
  th {
    &.center {
      .p-column-header-content {
        display: flex;
        justify-content: center !important;
      }
    }
  }
}